
EMBEDDING_PROVIDER=your_embedding_provider_here
GOOGLE_API_KEY=your_google_api_key_here

SERPAI_API_KEY=your_serpai_api_key_here

POSTGRES_DB=your_postgres_db_name_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PORT=your_postgres_port_here
DATABASE_URL = postgresql://your_postgres_user_here:your_postgres_password_here@your_postgres_host_here:your_postgres_port_here/your_postgres_db_name_here